{% extends "../layout/default.html" %}

{% block title %}Organization Detail{% endblock %}

{% block content %}
<section id="Organization">
	<div class="row">
		<dl class="span12">
			<dt>Name</dt>
			<dd><p>{{orgName|escape}}&nbsp;</p></dd>
			
			<dt>Report Template</dt>
			<dd>{%if orgReportTemplate %}{{orgReportTemplate|escape|linebreaks}}{% else %}<p>&nbsp;</p>{% endif %}</dd>
			
			<dt>Reporters</dt>
			<dd><p>{{orgReporters|join:", "|escape}}&nbsp;</p></dd>
			
			<dt>Receivers</dt>
			<dd><p>{{orgReceivers|join:", "|escape}}&nbsp;</p></dd>
			
			<dt>Administrators</dt>
			<dd><p>{{orgAdminers|join:", "|escape}}&nbsp;</p></dd>
			
			<dt>Reporter Waitings</dt>
			<dd><p>{{orgReporterWaitings|join:", "|escape}}&nbsp;</p></dd>
			
			<dt>Receiver Waitings</dt>
			<dd><p>{{orgReceiverWaitings|join:", "|escape}}&nbsp;</p></dd>
			
			<dt>Administrator Waitings</dt>
			<dd><p>{{orgAdminerWaitings|join:", "|escape}}&nbsp;</p></dd>
		</dl>
		<div class="span4">
			{% if accessType.Reporter %}
			<a href="/Report/add/{{orgKey}}" class="btn btnFill">Report Add</a>
			<br/>
			{% endif %}
			<a href="/Organization/edit/{{orgKey}}" class="btn btnFill">Edit</a>
			<a href="/Organization/delete/{{orgKey}}" class="btn danger btnFill" onclick="return confirm('Really want to Delete?');">Delete</a>
		</div>
	</div>
</section>
{% endblock %}