{% extends "layout_default.html" %}

{% block title %}Report Edit{% endblock %}

{% block content %}
<section id="Report">
	<form method="post" action="/Report/edit/{{rpt.key}}">
		<input id="isFinish" name="isFinish" type="hidden" value="{{rpt.isFinish}}" />
		<div class="row">
			<div class="span12">
				<fieldset>
					<div class="clearfix">
		      	<label for="year">Period</label>
		      	<div class="input">
		      		<select name="year" id="year" class="year">
		      		{% for y in rangeYear %}
		      			<option value="{{y}}"{% ifequal y rpt.year %} selected{% endifequal %}>{{y}}</option>
		      		{% endfor %}
		      		</select>
							<select name="weekNum" id="weekNum" class="weekNum">
							{% for w in rangeWeekNum %}
								<option value="{{w}}"{% ifequal w rpt.weekNum %} selected{% endifequal %}>{{w}}</option>
							{% endfor %}
							</select>
							<span id="periodDisplay" class="help-block">&nbsp;</span>
						</div>
					</div>
					
					<div class="clearfix">
						<label>Organization</label>
						<div class="input">
							<span class="uneditable-input input-xxlarge">{{rpt.organization.name}}</span>
							<input id="organization" name="organization" type="hidden" value="{{rpt.organization.name}}" />
						</div>
					</div>
					
					<div class="clearfix">
						<label for="content">Content</label>
						<div class="input">
							<textarea id="content" name="content" class="xxlarge content" required>{{rpt.content}}</textarea>
						</div>
					</div>
					
					<div class="clearfix">
						<label>Reporter</label>
						<div class="input">
							<span class="uneditable-input input-xxlarge">{{rpt.user.author.nickname}}</span>
							<input id="reporter" name="reporter" type="hidden" value="{{rpt.user.author.nickname}}" />
						</div>
					</div>
				</fieldset>
			</div>
			<div class="span3 well">
				<input type="submit" class="btn primary btnFill" value="Save" />
				<input type="button" class="btn success btnFill" value="Save and Finish" onclick="if (confirm('Really want to Finish?')) { $('#isFinish').val('True'); $('form').submit(); } return false;" />
				<br/>
				<a href="/Report/{{rpt.key}}" class="btn btnFill" onclick="return confirm('Really want to Cancel?');">Cancel</a>
			</div>
		</div>
	</form>
	
	<script>
		$(function() {
			displayPeriod();
			$('#year').change(displayPeriod);
			$('#weekNum').change(displayPeriod);
		});
		
		function displayPeriod()
		{
			year = $('#year').val();
			weekNum = $('#weekNum').val();
			$.getJSON('/Service/YW2Period/' + year + '/' + weekNum, function(data) {
				if (data) {
					s = new Date(data.start);
					e = new Date(data.end);
					$('#periodDisplay').html(displayDateFormat(s) + ' - ' + displayDateFormat(e));
				}
			});
		}

	</script>
</section>
{% endblock %}